<link rel="stylesheet" href="css/common.css" />

<div class="main-div">
    <div class="form-div">
        <h2>Sign In</h2>
        <form id="login-form">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
                <!-- <div id="invalid-value" class="text-danger"></div> -->
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
                <!-- <div id="invalid-value" class="text-danger"></div> -->
            </div>

            <button type="submit" class="btn btn-primary" id="btn-login">Login</button>
        </form>
    </div>
</div>

<!-- Notifications container -->
<div id="notifications"></div>

<!-- <script src="/socket.io/socket.io.js"></script> -->

<script src="js/common.js"></script>
<script src="js/login.js"></script>